@import "/src/styles/extend";

.animated-cursor {
    z-index: $z-index-animated-cursor;
    position: relative;
    @include media-breakpoint-down($sidebar-min-breakpoint) {
        display: none;
    }
}

.animated-cursor-circle {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: var(--theme-secondary);
    pointer-events: none;
    user-select: none;
    transition: 0.2s background-color ease-in;
    transform: translateY(-200px);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--theme-dark);

    .fa-icon {
        transition: 0.2s all ease-in;
        &-hidden {
            scale: 0;
        }
    }
}

.animated-cursor-circle-highlight {
    background-color: var(--theme-highlight-2);
}