@import "/src/styles/extend";

.image-view-wrapper {
    display: inline-flex;
    overflow: hidden;
    position: relative;

    .image {
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        position: relative;
        left: -1px;
    }

    .spinner {
        margin: auto;
        max-width: 90%;
        max-height: 90%;
    }
}